[master]
  band = ":5983"
  http = ":5984"
  securityToken = "4E4AD35C6C0BEB20DC343A1E8F7E32D4"
  salt = "2CCAKYGBPTCET2S6"
  [master.database]
    type = "sqlite3"
    url = "/etc/sudis/sudis.db"

[server]
  dir = "/etc/sudis/programs"
  sock = "unix://etc/sudis/sudis.sock"
  master = "tcp://127.0.0.1:5983"
  securityToken = "4E4AD35C6C0BEB20DC343A1E8F7E32D4"
