[Unit]
Description=The sudis server endpoint.
After=network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/usr/local/bin/sudis server
ExecStop=/usr/local/bin/sudis shutdown
KillSignal=SIGQUIT
TimeoutStopSec=15
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
